.aboutme{
    height: 100%;
}

.container_Top_about {
    background-color: #eddbb9;
    height: 47vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container_Bottom_about{
    background-color: #334A35;
    height: 47vh;
    display: flex;
    flex-direction: row;

  }

.container_presentation h1{
    color: black;
    font-size: 50px;
}

.container_presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin-left: 5vw;
    text-align: justify;
    
    
}

.contact_linkedin{
    background-color: #FA5C30;
    border: none;
    border-radius: 2vh;
    width: 150%;
    height: 3vh;
    color: white;
    margin-top: 5px;
}

.contact_linkedin:hover{
    cursor: pointer;
    background-color: #cc3b13;
}

.container_presentation h1{
    font-family: "Abril Fatface";

}

.experience{
    display: flex;
    flex-direction: column;
    background-color: #FAB51A;
    width: 25%;
    height: 100%;
    position: relative;
    bottom: 80%;
    left: 60%;
    justify-content: space-evenly;
    z-index: 1;
}

.experience h1{
    font-family: "Abril Fatface";
    font-size: 50px;
    margin-left: 20px;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
    color: white;
    margin-right: 50vw;
}

.education h1{
    font-family: "Abril Fatface";
    font-size: 50px;
    margin-left: 20px;
    color: #FAB51A;
}

.experience ul, .education ul {
    list-style-type: none;
    padding: 0;
}

.experience li, .education li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.education li:before {
    content: "\2605"; 
    color: #FAB51A;
    margin-right: 10px;
}

.experience li:before{
    content: "\2605"; 
    color: #ffffff;
    margin-right: 10px;
}

.odlaMer{
    text-align: justify;
margin-left: 1vw;
margin-right: 1vw;
}

.positionedTextAboutMe{
    position: absolute;
  font-size: 8vw; 
  font-family: "Abril Fatface";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FAB51A;
  left: 43.5%;
  transform: translateX(50%);
  z-index: 0;
  top: 40%;
}

.positionedTextAboutMe:nth-child(2) {
    top: 52%;
    z-index: 0;
    font-family: "Abril Fatface";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FAB51A;
    text-shadow: none;
    left: 43.5%;
  
    
  }
  
  .positionedTextAboutMe:nth-child(3) {
    top: 64%;
    z-index: 0;
    font-family: "Abril Fatface";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FAB51A;
    text-shadow: none;
    left: 43.5%;
  }

