.containerNavBar{
    display: flex;

}

.Main_Container {
    display: flex;
    flex-direction: row;
    background-color: #F7EEB5;
    height: 6vh;
    width: 100%;

}

.Main_elements {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.MyName {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin-left: 4vh;
}

.Links{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    height: 100%;
    width: 25%;
    align-items: center;
}
.Links2{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    margin-right: 5vh;
    height: 100%;
    align-items: center;

}


.Links:hover{
    color: #85A968;
    font-weight: bold;
    cursor: pointer;
    background-color: #d8cf91;
}

.Links2:hover{
    color: #85A968;
    font-weight: bold;
    cursor: pointer;
    background-color: #d8cf91;
}

