.containerNavBar{
    display: flex;

}

.Main_Container {
    display: flex;
    flex-direction: row;
    background-color: #334A35;
    height: 6vh;
    width: 100%;

}

.Main_elements {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.Links{
    display: flex;
    justify-content: center;
    color: white;
    height: 100%;
    width: 30%;
    align-items: center;
    font-family: "Abril Fatface";
}

.Links2{
    display: flex;
    font-family: "Abril Fatface";
    color: white;
    margin-right: 5vh;
    height: 100%;
    align-items: center;
}


.Links:hover{
    cursor: pointer;
    background-color: #4d664f;
}

.Links2:hover{
    cursor: pointer;
    background-color: #4d664f;
}


.buttonWelcome {
    background-color: #FAB51A;
    color: black;
    border-radius: 1.8vh;
    width: 6vw;
    height: 4vh;
    border: none;
    font-family: "Abril Fatface";

  }
  
  .buttonWelcome:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .Main_Container, .Main_elements {
      flex-direction: row;
    }
  
    .Links, .Links2 {
      width: 100%;
      margin-bottom: 10px;
      font-size: 10px;
    }
  
    .buttonWelcome {
      width: 100%;
      margin: 0 auto; 
      margin-bottom: 10px;
      font-size: 10px; 
      padding: 3px; 
    }
  }