.containerNavBar{
    display: flex;

}

.Main_Container {
    display: flex;
    flex-direction: row;
    background-color: #334A35;
    height: 6vh;
    width: 100%;

}

.Main_elements {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.Links{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100%;
    width: 25%;
    align-items: center;
    font-family: "Abril Fatface";
}
.Links2{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right: 5vh;
    height: 100%;
    align-items: center;
}


.Links:hover{
    cursor: pointer;
    background-color: #4d664f;
}

.Links2:hover{
    cursor: pointer;
    background-color: #4d664f;
}

