.projects_container{
    display: flex;
    flex-direction: column;
    height: 94vh;
    width: 100%;
}


.first_project{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5vh;
    height: 100%;

}

.second_project{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.Project_UNO{
    display: flex;
    height: 100%;
    width: 30%;
    background-color: red;
    background-image: url("../assets/Uno-logo.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-left: 5vh;
}

.Project_UNO:hover{
    cursor: pointer;
    opacity: 0.4;
    
}

.Project_BlindTest{
    display: flex;
    height: 100%;
    width: 30%;
    background-color: red;
    background-image: url("../assets/blindtest_logo.jpeg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-right: 5vh;

}

.Project_BlindTest:hover{
    cursor: pointer;
    opacity: 0.4;
}

.project_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 30%;
    background-color: #FAB51A;
}


@keyframes carouselAnimation {
    0% {
      transform: translateX(-200%);
    }
    25% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(50%);
    }
    55% {
        transform: translateX(70%);
      }
    60% {
        transform: translateX(90%);
      }
    65% {
      transform: translateX(110%);
    }
    100% {
      transform: translateX(200%);
    }
  }



.container2{
    background-color: #e2d3ba;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .movingText{
    animation: carouselAnimation 20s linear infinite;
  }

  .project-title
  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #F6EEE0;
  }
  
  
  .container3{
    background-color: #F6EEE0;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around
    ;
  }

  .ProjectUNO{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Uno-logo.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-top: 5vh;
    height: 50%;
    width: 30%;
    border-radius: 4vh;
  }

  .ProjectUNO:hover{
    cursor: pointer;
    opacity: 0.4;
    width: 35%;
    height: 55%;
    
}

  .ProjectBLINDTEST{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/blindtest_logo.jpeg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-top: 5vh;
    height: 50%;
    width: 30%;
    border-radius: 4vh;
    

  }

  .ProjectBLINDTEST:hover{
    cursor: pointer;
    opacity: 0.4;
    width: 35%;
    height: 55%;
    
}

.bottom{
  background-color: #F6EEE0;

}



.positionedTextProjects{
  position: absolute;
font-size: 8vw; 
font-family: "Abril Fatface";
color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FAB51A;
left: 20%;
transform: translateX(50%);
z-index: 0;
top: 30%;
}

.positionedTextProjects:nth-child(3) {
  top: 40%;
  z-index: 0;
  font-family: "Abril Fatface";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FAB51A;
  text-shadow: none;
  left: 20%;

  
}

.positionedTextProjects:nth-child(4) {
  top: 50%;
  z-index: 0;
  font-family: "Abril Fatface";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FAB51A;
  text-shadow: none;
  left: 20%;
}