.projects_page{
    height: 94vh;
}
.projects_container{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100%;
    background-color: #eddbb9;
}


.first_project{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
    z-index: 1;
    position: relative;
    top: 20%;

}

.second_project{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
    z-index: 1;
    position: relative;
    top: 20%;
}

.Project_UNO{
    display: flex;
    height: 60%;
    width: 100%;
    background-color: red;
    background-image: url("../assets/Uno-logo.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-left: 5%;
}



.Project_UNO:hover{
    cursor: pointer;
    opacity: 0.7;
    
}

.Project_BlindTest{
    display: flex;
    height: 60%;
    width: 100%;
    background-color: red;
    background-image: url("../assets/blindtest_logo.jpeg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-right: 5%;

}

.Project_BlindTest:hover{
    cursor: pointer;
    opacity: 0.7;
}

.project_text_UNO{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 60%;
    background-color: #FAB51A;
    position: relative;
    top: 40%;
    right: 15%;
    text-align: justify;
    padding: 2%;

}

.project_text_UNO h1{
    font-family: "Abril Fatface";
    font-size: 2vw;
}

.project_text_BlindTest{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 60%;
    background-color: #FAB51A;
    position: relative;
    top: 40%;
    right: 15%;
    text-align: justify;
    padding: 2%;

}

.project_text_BlindTest h1{
    font-family: "Abril Fatface";
    font-size: 2vw;

}


  

.positionedTextProjects{
position: absolute;
font-size: 8vw; 
font-family: "Abril Fatface";
color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FAB51A;
right: 50%;
transform: translateX(50%);
z-index: 0;
top: 55%;
}

.positionedTextProjects:nth-child(3) {
  top: 67%;
  z-index: 0;
  font-family: "Abril Fatface";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FAB51A;
  text-shadow: none;
  right: 50%;

  
}

.positionedTextProjects:nth-child(4) {
  top: 79%;
  z-index: 0;
  font-family: "Abril Fatface";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FAB51A;
  text-shadow: none;
  right: 50%;
}

.projects_container_bottom{
    background-color: #334a35;
    height: 34vh;
}