.Welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 8vh;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.WelcomeRight{
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    margin-right: 8vh;
    font-size: 5vh;
}

#imagecontainer{
    background: url('../assets/IMG_4905.jpeg');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: top;

}

.buttonWelcome{
    background-color: black;
    color: gray;
    border-radius: 1.8vh;
    width: 6vw;
    height: 4vh;
    border: none;
    margin-top: 1vh;
    font-size: small;
}

.buttonWelcome:hover{
    background-color: gray;
    color: black;
    border-radius: 1.8vh;
    width: 6vw;
    height: 4vh;
    border: none;
    margin-top: 1vh;
    cursor: pointer;
}

p{
    font-size: 3vh;
}

@keyframes carouselAnimation {
    0% {
      transform: translateX(-200%);
    }
    25% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(50%);
    }
    55% {
        transform: translateX(70%);
      }
    60% {
        transform: translateX(90%);
      }
    65% {
      transform: translateX(110%);
    }
    100% {
      transform: translateX(200%);
    }
  }

.container1{
    background-color: #85A968;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


.container2{
    background-color: white;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .movingText{
    animation: carouselAnimation 20s linear infinite;
  }

  .project-title
  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #F7EEB5;
  }
  
  
  .container3{
    background-color: #F7EEB5;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around
    ;
  }

  .ProjectUNO{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Uno-logo.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-top: 5vh;
    height: 50%;
    width: 30%;
    border-radius: 4vh;
  }

  .ProjectUNO:hover{
    cursor: pointer;
    opacity: 0.4;
    width: 35%;
    height: 55%;
    
}

  .ProjectBLINDTEST{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/blindtest_logo.jpeg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-top: 5vh;
    height: 50%;
    width: 30%;
    border-radius: 4vh;
    

  }

  .ProjectBLINDTEST:hover{
    cursor: pointer;
    opacity: 0.4;
    width: 35%;
    height: 55%;
    
}

.bottom{
  background-color: #F7EEB5;

}